VITE_SUPABASE_URL=https://oeznlehxublyvivzvuab.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here

# Stripe
VITE_STRIPE_PRICE_BASIC_MONTHLY=price_basic_monthly_xxx
VITE_STRIPE_PRICE_BASIC_YEARLY=price_basic_yearly_xxx
VITE_STRIPE_PRICE_PRO_MONTHLY=price_pro_monthly_xxx
VITE_STRIPE_PRICE_PRO_YEARLY=price_pro_yearly_xxx
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51TNBtB1bty03DSjpxUJ4VWAvHQ0b0zv95AkH2zwBzl117MsJg2hgGabjRsxtG9PvNnG8OcJMc3cNobJkwVFCHiyru00SUaS8pk5
